arm_template/ARMTemplateForFactory.json
{
    "$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "factoryName": {
            "type": "string",
            "metadata": "Data Factory name",
            "defaultValue": "ecom-adf-feb27"
        },
        "ls_azuresql_ecom_password": {
            "type": "secureString",
            "metadata": "Secure string for 'password' of 'ls_azuresql_ecom'"
        },
        "ls_blob_ecom_connectionString": {
            "type": "secureString",
            "metadata": "Secure string for 'connectionString' of 'ls_blob_ecom'"
        },
        "ls_azuresql_ecom_properties_typeProperties_server": {
            "type": "string",
            "defaultValue": "ecomsqlserverfeb27.database.windows.net"
        },
        "ls_azuresql_ecom_properties_typeProperties_database": {
            "type": "string",
            "defaultValue": "ecomdb"
        },
        "ls_azuresql_ecom_properties_typeProperties_userName": {
            "type": "string",
            "defaultValue": "sqladmin"
        }
    },
    "variables": {
        "factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
    },
    "resources": [
        {
            "name": "[concat(parameters('factoryName'), '/pl_full_load_to_staging')]",
            "type": "Microsoft.DataFactory/factories/pipelines",
            "apiVersion": "2018-06-01",
            "properties": {
                "activities": [
                    {
                        "name": "Copy_CSV_to_SQL_Staging",
                        "type": "Copy",
                        "dependsOn": [],
                        "policy": {
                            "timeout": "0.12:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "source": {
                                "type": "DelimitedTextSource",
                                "storeSettings": {
                                    "type": "AzureBlobStorageReadSettings",
                                    "recursive": true,
                                    "enablePartitionDiscovery": false
                                },
                                "formatSettings": {
                                    "type": "DelimitedTextReadSettings"
                                }
                            },
                            "sink": {
                                "type": "AzureSqlSink",
                                "preCopyScript": "TRUNCATE TABLE dbo.stg_online_retail;",
                                "writeBehavior": "insert",
                                "sqlWriterUseTableLock": false,
                                "disableMetricsCollection": false
                            },
                            "enableStaging": false,
                            "translator": {
                                "type": "TabularTranslator",
                                "mappings": [
                                    {
                                        "source": {
                                            "name": "Invoice",
                                            "type": "String",
                                            "physicalType": "String"
                                        },
                                        "sink": {
                                            "name": "InvoiceNo",
                                            "type": "String",
                                            "physicalType": "nvarchar"
                                        }
                                    },
                                    {
                                        "source": {
                                            "name": "StockCode",
                                            "type": "String",
                                            "physicalType": "String"
                                        },
                                        "sink": {
                                            "name": "StockCode",
                                            "type": "String",
                                            "physicalType": "nvarchar"
                                        }
                                    },
                                    {
                                        "source": {
                                            "name": "Description",
                                            "type": "String",
                                            "physicalType": "String"
                                        },
                                        "sink": {
                                            "name": "Description",
                                            "type": "String",
                                            "physicalType": "nvarchar"
                                        }
                                    },
                                    {
                                        "source": {
                                            "name": "Quantity",
                                            "type": "String",
                                            "physicalType": "String"
                                        },
                                        "sink": {
                                            "name": "Quantity",
                                            "type": "Int32",
                                            "physicalType": "int"
                                        }
                                    },
                                    {
                                        "source": {
                                            "name": "InvoiceDate",
                                            "type": "String",
                                            "physicalType": "String"
                                        },
                                        "sink": {
                                            "name": "InvoiceDate",
                                            "type": "DateTime",
                                            "physicalType": "datetime"
                                        }
                                    },
                                    {
                                        "source": {
                                            "name": "Price",
                                            "type": "String",
                                            "physicalType": "String"
                                        },
                                        "sink": {
                                            "name": "UnitPrice",
                                            "type": "Decimal",
                                            "physicalType": "decimal",
                                            "scale": 2,
                                            "precision": 10
                                        }
                                    },
                                    {
                                        "source": {
                                            "name": "Customer ID",
                                            "type": "String",
                                            "physicalType": "String"
                                        },
                                        "sink": {
                                            "name": "CustomerID",
                                            "type": "String",
                                            "physicalType": "nvarchar"
                                        }
                                    },
                                    {
                                        "source": {
                                            "name": "Country",
                                            "type": "String",
                                            "physicalType": "String"
                                        },
                                        "sink": {
                                            "name": "Country",
                                            "type": "String",
                                            "physicalType": "nvarchar"
                                        }
                                    }
                                ],
                                "typeConversion": true,
                                "typeConversionSettings": {
                                    "allowDataTruncation": true,
                                    "treatBooleanAsNumber": false
                                }
                            }
                        },
                        "inputs": [
                            {
                                "referenceName": "ds_raw_csv",
                                "type": "DatasetReference",
                                "parameters": {}
                            }
                        ],
                        "outputs": [
                            {
                                "referenceName": "ds_sql_stg_online_retail",
                                "type": "DatasetReference",
                                "parameters": {}
                            }
                        ]
                    },
                    {
                        "name": "dim_customer",
                        "type": "SqlServerStoredProcedure",
                        "dependsOn": [
                            {
                                "activity": "Copy_CSV_to_SQL_Staging",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "policy": {
                            "timeout": "0.12:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "storedProcedureName": "[[dbo].[sp_load_dim_customer]"
                        },
                        "linkedServiceName": {
                            "referenceName": "ls_azuresql_ecom",
                            "type": "LinkedServiceReference"
                        }
                    },
                    {
                        "name": "dim_product",
                        "type": "SqlServerStoredProcedure",
                        "dependsOn": [
                            {
                                "activity": "dim_customer",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "policy": {
                            "timeout": "0.12:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "storedProcedureName": "[[dbo].[sp_load_dim_product]"
                        },
                        "linkedServiceName": {
                            "referenceName": "ls_azuresql_ecom",
                            "type": "LinkedServiceReference"
                        }
                    },
                    {
                        "name": "dim_fact",
                        "type": "SqlServerStoredProcedure",
                        "dependsOn": [
                            {
                                "activity": "dim_product",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "policy": {
                            "timeout": "0.12:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "storedProcedureName": "[[dbo].[sp_load_fact_sales]"
                        },
                        "linkedServiceName": {
                            "referenceName": "ls_azuresql_ecom",
                            "type": "LinkedServiceReference"
                        }
                    }
                ],
                "policy": {
                    "elapsedTimeMetric": {}
                },
                "annotations": [],
                "lastPublishTime": "2026-03-04T01:01:25Z"
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/datasets/ds_raw_csv')]",
                "[concat(variables('factoryId'), '/datasets/ds_sql_stg_online_retail')]",
                "[concat(variables('factoryId'), '/linkedServices/ls_azuresql_ecom')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/ds_raw_csv')]",
            "type": "Microsoft.DataFactory/factories/datasets",
            "apiVersion": "2018-06-01",
            "properties": {
                "linkedServiceName": {
                    "referenceName": "ls_blob_ecom",
                    "type": "LinkedServiceReference"
                },
                "annotations": [],
                "type": "DelimitedText",
                "typeProperties": {
                    "location": {
                        "type": "AzureBlobStorageLocation",
                        "fileName": "online_retail_II.csv",
                        "container": "raw-data"
                    },
                    "columnDelimiter": ",",
                    "escapeChar": "\\",
                    "firstRowAsHeader": true,
                    "quoteChar": "\""
                },
                "schema": [
                    {
                        "name": "Invoice",
                        "type": "String"
                    },
                    {
                        "name": "StockCode",
                        "type": "String"
                    },
                    {
                        "name": "Description",
                        "type": "String"
                    },
                    {
                        "name": "Quantity",
                        "type": "String"
                    },
                    {
                        "name": "InvoiceDate",
                        "type": "String"
                    },
                    {
                        "name": "Price",
                        "type": "String"
                    },
                    {
                        "name": "Customer ID",
                        "type": "String"
                    },
                    {
                        "name": "Country",
                        "type": "String"
                    }
                ]
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/linkedServices/ls_blob_ecom')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/ds_sql_stg_online_retail')]",
            "type": "Microsoft.DataFactory/factories/datasets",
            "apiVersion": "2018-06-01",
            "properties": {
                "linkedServiceName": {
                    "referenceName": "ls_azuresql_ecom",
                    "type": "LinkedServiceReference"
                },
                "annotations": [],
                "type": "AzureSqlTable",
                "schema": [
                    {
                        "name": "InvoiceNo",
                        "type": "nvarchar"
                    },
                    {
                        "name": "StockCode",
                        "type": "nvarchar"
                    },
                    {
                        "name": "Description",
                        "type": "nvarchar"
                    },
                    {
                        "name": "Quantity",
                        "type": "int",
                        "precision": 10
                    },
                    {
                        "name": "InvoiceDate",
                        "type": "datetime",
                        "precision": 23,
                        "scale": 3
                    },
                    {
                        "name": "UnitPrice",
                        "type": "decimal",
                        "precision": 10,
                        "scale": 2
                    },
                    {
                        "name": "CustomerID",
                        "type": "nvarchar"
                    },
                    {
                        "name": "Country",
                        "type": "nvarchar"
                    }
                ],
                "typeProperties": {
                    "schema": "dbo",
                    "table": "stg_online_retail"
                }
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/linkedServices/ls_azuresql_ecom')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/copydatasource')]",
            "type": "Microsoft.DataFactory/factories/datasets",
            "apiVersion": "2018-06-01",
            "properties": {
                "linkedServiceName": {
                    "referenceName": "ls_blob_ecom",
                    "type": "LinkedServiceReference"
                },
                "annotations": [],
                "type": "DelimitedText",
                "typeProperties": {
                    "location": {
                        "type": "AzureBlobStorageLocation",
                        "fileName": "online_retail_II.csv",
                        "container": "raw-data"
                    },
                    "columnDelimiter": ",",
                    "escapeChar": "\\",
                    "firstRowAsHeader": true,
                    "quoteChar": "\""
                },
                "schema": [
                    {
                        "name": "Invoice",
                        "type": "String"
                    },
                    {
                        "name": "StockCode",
                        "type": "String"
                    },
                    {
                        "name": "Description",
                        "type": "String"
                    },
                    {
                        "name": "Quantity",
                        "type": "String"
                    },
                    {
                        "name": "InvoiceDate",
                        "type": "String"
                    },
                    {
                        "name": "Price",
                        "type": "String"
                    },
                    {
                        "name": "Customer ID",
                        "type": "String"
                    },
                    {
                        "name": "Country",
                        "type": "String"
                    }
                ]
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/linkedServices/ls_blob_ecom')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/ls_azuresql_ecom')]",
            "type": "Microsoft.DataFactory/factories/linkedServices",
            "apiVersion": "2018-06-01",
            "properties": {
                "annotations": [],
                "type": "AzureSqlDatabase",
                "typeProperties": {
                    "server": "[parameters('ls_azuresql_ecom_properties_typeProperties_server')]",
                    "database": "[parameters('ls_azuresql_ecom_properties_typeProperties_database')]",
                    "encrypt": "mandatory",
                    "trustServerCertificate": false,
                    "authenticationType": "SQL",
                    "userName": "[parameters('ls_azuresql_ecom_properties_typeProperties_userName')]",
                    "password": {
                        "type": "SecureString",
                        "value": "[parameters('ls_azuresql_ecom_password')]"
                    }
                }
            },
            "dependsOn": []
        },
        {
            "name": "[concat(parameters('factoryName'), '/ls_blob_ecom')]",
            "type": "Microsoft.DataFactory/factories/linkedServices",
            "apiVersion": "2018-06-01",
            "properties": {
                "annotations": [],
                "type": "AzureBlobStorage",
                "typeProperties": {
                    "connectionString": "[parameters('ls_blob_ecom_connectionString')]"
                }
            },
            "dependsOn": []
        }
    ]
}